.white {
    color: white;
}

.logo {
    font-size: 35px;
    font-weight: 900;
    margin-right: 20px;
}

.nav-item {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.wagen {
    padding-top: 5px;
}

.KÜberschrift {
    text-align: center;
    margin: 50px;
}

.w80 {
    width: 85%;
}

a {
    text-decoration: none;
    color: black;
    border: black 1px ;
}

.kategorie {
    
    padding: 10px;
    margin: 5px;
    
}

.kategorie p {
    margin-bottom: 0px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 15px;
}

.produkt {
    border: black solid 0.5px;
    border-radius: 20px;
    height: 250px;
    padding: 20px;
    margin: 5px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: 210px 265px 265px 130px;
    grid-template-areas: 
        "gBild gProduktName gProduktName gProduktName"
        "gBild gPreis gAllergene gPlusMehr"
        "gBild gKiloPreis gAngebot gAngebot";
    text-align: left;
    gap: 15px;
}

.gText {
    padding: 0;
}

.gBild {
    grid-area: gBild;
}

.gProduktName {
    grid-area: gProduktName;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.gPreis {
    grid-area: gPreis;
}

.gKiloPreis {
    grid-area: gKiloPreis;
}

.gAllergene {
    grid-area: gAllergene;
}

.gAngebot {
    grid-area: gAngebot;
}

.gPlusMehr {
    grid-area: gPlusMehr;
}


img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

@media screen and (min-width:1200px) {
    .kategorie p {
        font-size: 20px;
    }
}

.footer {
    margin: 0;
    margin-top: 60px;
    text-align: center;
    background-color: #d80000;
}

.btnoben {
    text-align: right;
    margin-top: -63px;
    margin-right: 23px;
    position: relative;
}

.oben {
    background-color: #bb0000;
    color: white;
    
}

.oben:hover {
    background-color: #cc0000;
    color: white;
    box-shadow: 0px 0px 30px;
}

